*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

.spaced-paragraph {
  margin-top: 20px;   /* space above paragraph */
  margin-bottom: 20px; /* space below paragraph */
  line-height: 1.6;   /* improve readability */
  text-indent: 30px;  /*first line start*/
  font-size: 22px;
  font-family:'Times New Roman';
}


.items{
  column-count: 2;          /* Number of columns */
  column-gap: 40px;         /* Space between columns */
  list-style-type: disc;     /* Optional: bullet style */
  line-height: 50px;  
  font-size: 20px;
}


.nav{
  
   font-family:georgia;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   padding: 15px;
   /*background-color:rgb(3, 99, 99); */
   background-image: url("../images/fab4.jpg"); 
   background-repeat: no-repeat;
   background-size: cover;
  
   
}
.nav a{
   display:inline-block;
   color:white;
   padding:15px 25px;
   text-decoration: none;
   margin:0;
   
}
.nav a:hover{
    color:rgb(15, 184, 184); 
}

.nav a.active{
  color:rgb(15, 184, 184); 
  
}
.nav h3{
  
   font-family:georgia;
   font-size: 30px;
   font-weight: bold;
   text-align: left;
   display:inline-block;
   color:white;
   background: linear-gradient(rgb(41, 134, 134),white,rgb(41, 134, 134));
    -webkit-background-clip: text;
   color:transparent;	
   padding:15px 25px;
   text-decoration: none;
   margin:0;   
   float:left;
}

