*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

.nav{
   position:sticky;
   top:0;
   z-index: 3;
   font-family:georgia;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   padding: 15px;
   background-image: url("../images/fab4.jpg"); 
   background-repeat: no-repeat;
   background-size: cover;
  
   
}
.nav a{
   display:inline-block;
   color:white;
   padding:15px 25px;
   text-decoration: none;
   margin:0;
   
}
.nav a:hover{
    color:rgb(15, 184, 184); 
}

.nav a.active{
  color:rgb(15, 184, 184); 
}

.nav h3{
  
   font-family:georgia;
   font-size: 30px;
   font-weight: bold;
   text-align: left;
   display:inline-block;
   color:white;
   background: linear-gradient(rgb(41, 134, 134),white,rgb(41, 134, 134));
    -webkit-background-clip: text;
   color:transparent;	
   padding:15px 25px;
   text-decoration: none;
   margin:0;   
   float:left;
}
.form{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container{
   background-image:url("../images/fab4.jpg");
   padding:25px;
   width:600px;
   height:600px;
   border:2px solid black;
   border-radius: 10px;
   box-shadow: 0 8px 20px rgb(0,0,0,0.1);
   margin:50px;
   
}
.container h2{
   text-align: center;
   color:white;	
}
.container p{
   text-align: center;
   font-size:15px;
   color:#fdffff;
}
label{
   display:block;
   margin-top:12px;
   font-weight: bold;
   font-size: 18px;
   color:white;
}
input, textarea{
   width: 300px;
   padding:8px;
   margin-top:5px;
   border:1px solid #ccc;
   border-radius: 5px;
}
textarea{
   height:80px;
   resize: none;
}
.radio,.check{
   margin-top:5px;
   font-size: 15px;
   color:white;
}
.radio input{
   margin:0;
   width: 50px;
   height:12px;
   color: black;
}
.check input{
   width: 50px;
   height:12px;
   margin: 0;
}
button{
   width: 100%;
   margin-top:15px;
   padding:10px;
   background-color: #7a2c2c;
   color:white;
   border:2px solid black;
   border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
}
button:hover{
   background-color: #5e1f1f;
}
