*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

.nav{
   position:sticky;
   top:0;
   z-index: 3;
   font-family:georgia;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   padding: 15px;
   background-image: url("../images/fab4.jpg"); 
   background-repeat: no-repeat;
   background-size: cover;
  
   
}
.nav a{
   display:inline-block;
   color:white;
   padding:15px 25px;
   text-decoration: none;
   margin:0;
   
}
.nav a:hover{
    color:rgb(15, 184, 184); 
}

.nav a.active{
  color:rgb(15, 184, 184); 
}

.nav h3{
  
   font-family:georgia;
   font-size: 30px;
   font-weight: bold;
   text-align: left;
   display:inline-block;
   color:white;
   background: linear-gradient(rgb(41, 134, 134),white,rgb(41, 134, 134));
    -webkit-background-clip: text;
   color:transparent;	
   padding:15px 25px;
   text-decoration: none;
   margin:0;   
   float:left;
}
.gallery-section {
  padding: 40px;
  text-align: center;
}

.gallery-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}

.gallery {
  display: grid;
   grid-template-columns: repeat(3, 1fr); /* 4 per row */
   gap: 18px;
   margin-top: 30px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background:url("../images/fab4.jpg");
}

.gallery-item img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}