.home{
  
   font-family:georgia;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   padding: 15px;
   /*background-color:rgb(3, 99, 99); */
   background-image: url("../images/fab4.jpg"); 
   background-repeat: no-repeat;
   background-size: cover;
  
   
}
.home a{
   display:inline-block;
   color:white;
   padding:15px 25px;
   text-decoration: none;
   margin:0;
   
}
.home a:hover{
    color:rgb(15, 184, 184); 
}
.home h3{
  
   font-family:georgia;
   font-size: 30px;
   font-weight: bold;
   text-align: left;
   display:inline-block;
   color:white;
   background: linear-gradient(rgb(41, 134, 134),white,rgb(41, 134, 134));
    -webkit-background-clip: text;
   color:transparent;	
   padding:15px 25px;
   text-decoration: none;
   margin:0;   
   float:left;
}

.half{
   width:100%;
   height:100vh;
   overflow:hidden;
   position: relative;
}
.slides{
   display: flex;
   width:300%;
   height: 100%;
   animation:slide 9s infinite;
}
.slides img{
   width:100%;
   height:100vh;
   object-fit: cover;
}

.content{
   position: absolute;
   top:30%;
   left:8%;
   color:white;
}
.content h1{
   font-size: 48px;
}
.content p{
   font-size: 20px;
}

@keyframes slide {
   0%{transform: translateX(0);}
   33%{transform: translateX(0);}
   36%{transform: translateX(-100%);}
   66%{transform: translateX(-100%);}
   69%{transform: translateX(-200%);}
   100%{transform: translateX(-200%);}
}