body{
   /*background:bisque;*/
   background-image: url("../images/fab4.jpg"); 
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0;
}

.home{
  
   font-family:georgia;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   padding: 15px;
  
   
}
.home a{
   display:inline-block;
   color:white;
   padding:15px 25px;
   text-decoration: none;
   margin:0;
   
}
.home a:hover{
    color:rgb(15, 184, 184); 
}
.home h3{
  
   font-family:georgia;
   font-size: 30px;
   font-weight: bold;
   text-align: left;
   display:inline-block;
   color:white;
   background: linear-gradient(rgb(41, 134, 134),white,rgb(41, 134, 134));
    -webkit-background-clip: text;
   color:transparent;	
   padding:15px 25px;
   text-decoration: none;
   margin:0;   
   float:left;
}
.quotes-section {
    text-align: left;       /* left everything inside */
    margin-top: 60px;
    font-family: Georgia;
    color:white;
    margin: 20px;
    
}

.quotes h3 {
    text-align:center;
    justify-content: center;
    font-size: 26px;
    margin-bottom: 40px;      /* Space between quotes & icons */
}

.quotes{
   animation:wave-motion 2s infinite;
}

@keyframes wave-motion {
  0%, 100% {
    transform: translateX(0px);
  }
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateX(3px);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateX(6px);
  }
}
.icon-text {
   margin:20px;
    display: inline-block;            /* Horizontal column*/
    justify-content: center;  /* Center the icons */
    gap: 60px;                /* Space between each icon+text */
}

.icon-item {
    display: flex;
    flex-direction: row;   /* Icon on top, text below */
    align-items: center;      /* Center inside each item */
    font-family: Georgia;
    font-weight: bold;
    font-size: 18px;
}

.icon-item span:first-child {
    font-size: 36px;          /* Bigger icon size */
    margin-bottom: 10px;      /* Space between icon & text */
}

.con{
    display: flex;
    flex-direction: row;   /* Icon on top, text below */
    align-items: center;      /* Center inside each item */
    color:white;
    font-weight: bold;
    font-size: 30px; 
    margin: 20px;
}

.card{
   padding:200px;
   border:2px solid white;
   border-radius: 10px;
   background-color: white;
}

.blouse-image img {
  width: 400px;
  border-radius: 10px;
  float:right;
  margin-right: 50px;
  margin-top: 30px;
  
}

/*.scrolling-text{
   position:absolute;
   top: 50%;
   left: 100%;
   transform:translateY(-50%);
   white-space:nowrap;
   font-size: 50px;
   font-weight: bold;
   color: white;
   background: linear-gradient(rgb(41, 134, 134),white);
    -webkit-background-clip: text;
   color:transparent;	
   z-index: 10;
   animation: moveText 15s linear infinite;
   
}
/* animation 
@keyframes moveText {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}*/


