/*body{
   background:bisque;
   background-image: url("../images/fab4.jpg"); 
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0;
}*/
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

.nav{
   position:sticky;
   top:0;
   z-index: 3;
   font-family:georgia;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   padding: 15px;
   background-image: url("../images/fab4.jpg"); 
   background-repeat: no-repeat;
   background-size: cover;
  
   
}
.nav a{
   display:inline-block;
   color:white;
   padding:15px 25px;
   text-decoration: none;
   margin:0;
   
}
.nav a:hover{
    color:rgb(15, 184, 184); 
}

.nav a.active{
  color:rgb(15, 184, 184); 
}

.nav h3{
  
   font-family:georgia;
   font-size: 30px;
   font-weight: bold;
   text-align: left;
   display:inline-block;
   color:white;
   background: linear-gradient(rgb(41, 134, 134),white,rgb(41, 134, 134));
    -webkit-background-clip: text;
   color:transparent;	
   padding:15px 25px;
   text-decoration: none;
   margin:0;   
   float:left;
}
/*.quotes-section {
    text-align: left;       /* left everything inside 
    margin-top: 60px;
    font-family: Georgia;
    color:black;
    margin: 20px;
    
}

.quotes h3 {
    text-align:center;
    justify-content: center;
    font-size: 26px;
    margin-bottom: 40px;      /* Space between quotes & icons 
}

.quotes{
   animation:wave-motion 2s infinite;
}

@keyframes wave-motion {
  0%, 100% {
    transform: translateX(0px);
  }
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateX(3px);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateX(6px);
  }
}*/

.slider{
   width:100vw;
   height:100vh;
   overflow: hidden;
   position:relative;
}
.slider input{
   display: none;
}
.slides{
   display: flex;
   width: 100px;
   height:100%;
   animation: slide 18s infinite ease-in-out;
}
.slides img{
   width:100vw;
   height: 100vh;
   flex-shrink: 0;
}
#s1:checked ~ .slides{transform: translateX(0);}
#s2:checked ~ .slides{transform: translateX(-100vw);}
#s3:checked ~ .slides{transform: translateX(-200vw);}

.arrow{
   position: absolute;
   top:50%;
   transform: translateY(-50%);
   font-size: 30px;
   color:white;
   cursor: pointer;
   padding: 10px;
   background:gray;
   border-radius: 50%;
   user-select: none;
   z-index: 10;
}
.arrow:hover{
   background: white;
   color:black;
}
.left{
   left:20px;
}
.right{
   right:20px;
}
@keyframes slide {
   0%{transform: translateX(0);}
    33%{transform: translateX(-100vw);}
     66%{transform: translateX(-200vw);}
      100%{transform: translateX(-300vw);}
}

.con{
    display: flex;
    flex-direction: row;   /* Icon on top, text below */
    align-items: center;      /* Center inside each item */
    color:black;
    font-weight: bold;
    font-size: 30px; 
    margin: 20px;
}

.card{
   padding:200px;
   border:2px solid white;
   border-radius: 10px;
   background-color: white;
}





