body{
    background-image: url("bgb.jpg");
    background-repeat: repeat;
    background-size: cover;
}

p{
    font-size: 22px;
     font-family:'Arial, sans-serif';
    
}

li{
    list-style-type: square;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 50px;
}
.kids{
    float:right;
    display:inline-block;
    margin:10px;
}
.B{
    float:right;
    display:inline-block;
    margin:10px;
    
}
.W{
    float:right;
    display:inline-block;
    margin:10px;
}
.Ani{
    animation: gentleMove 3s ease-in-out infinite;
}

@keyframes gentleMove {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, 15px); /* small movement */
  }
  100% {
    transform: translate(0, 0);
  }
}
