body{
   /*background:bisque;*/
   background-image: url("fab4.jpg"); 
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0;
}

.home{
  
   font-family:georgia;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   padding: 15px;
  
   
}
.home a{
   display:inline-block;
   color:white;
   padding:15px 25px;
   text-decoration: none;
   margin:0;
   
}
.home a:hover{
    color:rgb(15, 184, 184); 
}
.home h3{
  
   font-family:georgia;
   font-size: 30px;
   font-weight: bold;
   text-align: left;
   display:inline-block;
   color:white;
   background: linear-gradient(rgb(41, 134, 134),white,rgb(41, 134, 134));
    -webkit-background-clip: text;
   color:transparent;	
   padding:15px 25px;
   text-decoration: none;
   margin:0;   
   float:left;
}



/*.gallery-container {
    position: relative;
    width: 100%;
    height:100%;
    overflow: hidden;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px;
}
.images img {
    width: 445px;
    height:400px;
    display: block;
}*/
.scrolling-text{
   position:absolute;
   top: 50%;
   left: 100%;
   transform:translateY(-50%);
   white-space:nowrap;
   font-size: 50px;
   font-weight: bold;
   color: white;
   background: linear-gradient(rgb(41, 134, 134),white);
    -webkit-background-clip: text;
   color:transparent;	
   z-index: 10;
   animation: moveText 15s linear infinite;
   
}
/* animation */
@keyframes moveText {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}


